<div id="modal_bg">
</div>

<div id="modal_menu_indiv">
    <!--<2% form_with url: users_path do |form| %>-->
    <%= form_for(@orderlist, url: '/order/modal_order') do |f| %>
    <%= f.hidden_field(:menu_id, value: @menu.id)%>

    <div class="modal_menu_indiv_upper">
        <div id="modal_close">
            <i class="fas fa-times"></i>
        </div>
        <div class="modal_menu_image">
            <%= image_tag "#{@menu.image}" %>
            <div class="modal_menu_title_n_price clearfix">
                <div class="modal_menu_title">
                    <p><%= @menu.name %></p>
                </div>
                <div class="modal_menu_price">
                    <p><%= @menu.price %>円</p>
                </div>
            </div>
        </div>
        <div class="modal_menu_detail_n_number">
            <div class="modal_menu_detail">
                <p><%= @menu.detail %></p>
            </div>
            <div class="modal_menu_number_box clearfix">
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 1, :checked => true) %>
                    <%= f.label(:number, "1", value: "1")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 2)%>
                    <%= f.label(:number, "2", value: "2")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 3) %>
                    <%= f.label(:number, "3", value: "3")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 4) %>
                    <%= f.label(:number, "4", value: "4")  %>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_menu_indiv_bottom">
        <div class="modal_menu_option_box">
            <!--もしオプションの中に番号があったら表示-->
            <% if @option1 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option1.id) %>
                    <%= f.label(:option_id, @option_name1, value: @option1.id)  %>
                </div>
            <% end %>
            <% if @option2 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option2.id) %>
                    <%= f.label(:option_id, @option_name2, value: @option2.id)  %>
                </div>
            <% end %>
            <% if @option3 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option3.id) %>
                    <%= f.label(:option_id, @option_name3, value: @option3.id)  %>
                </div>
            <% end %>
        </div>
        <div class="modal_menu_tocart" >
        <!--<div class="modal_menu_tocart", onclick="myFunction()" >-->
            <%= f.submit 'カートへ', class: 'tocart_button' %>
        </div>        
    </div>
    <% end %>
</div>



