<div class="menu_background-color">
    <div class="menu_background">
        <header class="menu_header clearfix">
            <div class="menu_header_left">
                <div class="menu_button orange">
                    <a href="/en/order/top">
                        <p>Order Top</p>
                    </a>
                </div>
            </div>
            <div class="menu_button_right">
                <div class="menu_button orange">
                    <%= link_to order_cashier_path, :method => :post do %>
                        <p>Checkout</p>
                 	<%end%>
                </div>
                <div class="menu_button orange">
                    <%= link_to order_staff_path, :method => :post do %>
                        <p>Waiter</p>
                 	<%end%>
                </div>
                <div class="menu_button orange">
                    <a href="/en/order/pre_order/<%= current_user.id %>">
                        <p>Cart</p>
                    </a>
                </div>
                <div class="menu_button orange">
                    <a href="/en/order/ordered/<%= current_user.id %>">
                        <p>Ordered</p>
                    </a>
                </div>
            </div>
        </header>
        <div class="menu_category">
            <div class="menu_button">
                <a href="/en/order/set_menu">
                    <p>Set Meal</p>
                </a>
            </div>
            <div class="menu_button">
                <a href="/en/order/alacarte_menu">
                    <p>A La Carte</p>
                </a>
            </div>
            <div class="menu_button orange">
                <a href="/en/order/noodle_menu">
                    <p>Noodle</p>
                </a>
            </div>
            <div class="menu_button">
                <a href="/en/order/rice_menu">
                    <p>Rice Set</p>
                </a>
            </div>
            <div class="menu_button">
                <a href="/en/order/dessert_menu">
                    <p class="double2">Dessert<br>Soup</p>
                </a>
            </div>
            <div class="menu_button">
                <a href="/en/order/drink_menu">
                    <p>Drink</p>
                </a>
            </div>
        </div>
        <div class="menu_indiv2 clearfix">
            <div class="category11">
                <% @menus1.each do |menu| %>
                    <div class="menu_indiv_block" menuid=<%= menu.id %>>
                        <div class="menu_indiv_block2">
                            <%= image_tag "#{menu.image}" %>
                            <div class="menu_indiv_name">
                                <%= menu.name_en %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<% if flash[:notice].present? %>
    <div id="toasts">Order Accepted!</div>
<% end %>
<% if flash[:error].present? %>
    <div id="toasts">Calling...<br><br>We will come soon!</div>
<% end %>
