<div class="statistics_background-color">
    <div class="statistics_background">
        <header class="statistics_header clearfix">
            <div class="statistics_header_left">
                <div class="statistics_button">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </div>
                <div class="statistics_button">
                    <%= link_to "メニューTOP", root_path, method: :get %>
                </div>
            </div>
            <div class="statistics_button_right">
                <div class="statistics_button">
                    <a href="/statistics/sales">
                        <p>売上</p>
                    </a>
                </div>
                <div class="statistics_button">
                    <a href="/statistics/ranking">
                        <p>ランキング</p>
                    </a>
                </div>
            </div>
        </header>
        <div class="statistics_title">
            <p>
                メニュー追加
            </p>
        </div>
        <div class="statistics_line">
            <h2></h2>
        </div>
        <div class="add_menu_form">
            <%= form_for(@menu, url: '/statistics/addmenu') do |f| %>
                <div class="form_background">
                    <div class="add_menu_label_n_text">
                        <div class="add_menu_label">
                            <p><%= f.label :カテゴリー：%></p>
                        </div>
                        <div class="add_menu_text">
                            <%= f.select :category, [["ボリュームセット", "11"], ["ランチセット", "12"], ["ユニークセット", "13"], ["一品料理", "21"], ["おつまみ", "22"], ["点心", "23"], ["麺類", "31"], ["ご飯類", "41"], ["デザート", "51"], ["スープ", "52"], ["アルコール", "61"], ["ソフトドリンク", "62"]]%> 
                        </div>
                    </div>
                <!--    <div class="option_label_n_text form1">-->
                <!--        <div class="option_label ">-->
                <!--            <p><2%= f.label :オプション：%></p>-->
                <!--        </div>-->
                <!--        <div class="option_text">-->
                <!--            <2%= f.select :option_id, [["麺変更：麻", "10"], ["麺変更：黒", "11"], ["麺変更：海", "12"], ["麺変更：湯", "13"], ["麺変更：もや", "14"], ["麺変更：広", "15"], ["麺変更：五", "16"], ["麺変更：かた", "17"], ["麺変更：上海", "18"], ["麺変更：もつ", "19"], ["麺変更：あん", "20"], ["麺変更：雲", "21"], ["麺変更：角", "22"], ["麺変更：味", "23"], ["麺変更：叉", "24"], ["麺変更：高", "25"],  ["麺変更：白", "26"], ["麺変更：馬", "27"], ["麺変更：陳", "28"], ["麺変更：麻辛", "29"], ["麺変更：酸辛", "30"], ["麺変更：ジャー", "31"], ["麺変更：フカ", "32"], ["飯大盛", "2"], ["麺大盛", "3"], ["丼大盛", "4"], ["そば大盛", "5"], ["炒飯大盛", "6"], ["小辛", "7"], ["中辛", "8"], ["大辛", "9"]]%> -->
                <!--        </div>-->
                <!--    </div>-->
                <!--    <div class="option_label_n_text">-->
                <!--        <div class="option_label">-->
                <!--            <p><2%= f.label :個数：%></p>-->
                <!--        </div>-->
                <!--        <div class="option_text">-->
                <!--            <2%= f.select :number, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]]%> -->
                <!--        </div>-->
                <!--    </div>-->
                </div>
                <!--<div class="form_submit">-->
                <!--    <div class="form_submit_button">-->
                <!--        <2%= f.submit '追加' , class: 'submit2' %>-->
                <!--    </div>-->
                <!--</div>-->
            <% end %>
        </div>
    </div>
</div>